.selected {
  background-color: rgb(27, 101, 136);
}

.dropdown-button {
  width: 200px;
  height: 30px;
  svg {
    width: 10px;
  }
}

.panel {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  background-color: #fff;
  height: 600px;
  width: 600px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(109, 109, 109);
    border-radius: 50px;
  }
  .dropdown-search {
    grid-column: 1 / span 3;
  }
  .dropdown-item {
    border: none;
    text-align: left;
  }
}
